# DATABASE
PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# CORS
CORS_ORIGIN=

# JWT
JWT_SECRET=
JWT_EXPIRED=
REFRESH_TOKEN_EXPIRED=
JWT_EXPIRED_MINUTES=

# SEED ADMIN
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_ROLE=